html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Slab', 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
