$main-color: #999999;
$color-white: #ffffff;
$color-darkgrey: #333333;
$color-grey: #e7e7e7;
$color-lightgrey: #e5e5e5;
$color-nav-hover: #fce38a;
$color-section-title: #333333;
$color-after: #f38181;
$color-fill: #95e1d3;
$color-aqua: #74c6b7;
$color-form-input: #cccccc;
$flex: flex;
$justify-content: space-between;
$montserrat-font: Montserrat, sans-serif;
$roboto-font: Roboto, sans-serif;
$kaushan-font: "Kaushan Script";
